<footer class="dg-footer">
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-3">
        <div class="dg-footer-image pt-sm-2">
          <img src="/assets/images/other/damir.jpg" alt="Photograph of Damir Grandich" height="160" width="160" class="img-fluid rounded-circle">
        </div>
      </div>

      <div class="col-sm-8 col-md-7 col-lg-6">
        <h2 class="text-saffron">
          Get in touch
        </h2>

        <p>
          I'd love to hear about any exciting opportunities. Email me at <a href="mailto:damir@grandich.co.uk">damir@grandich.co.uk</a> or find me online:
        </p>

        <ul class="dg-footer-links">
          {%- for link in site.data.links -%}
          <li>
            <a href="{{ link.url }}" title="Find me on {{ link.name }}">
              <i class="fab fa-{{ link.name | slugify }}" aria-hidden="true"></i>
              <span class="sr-only">{{ link.name }}</span>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>

    <p class="dg-copyright text-center">
      &copy; {{ site.time | date: '%Y' }} Damir Grandich.
    </p>
  </div>
</footer>
