.dg-work-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 24rem;
  display: flex;
  align-items: center;

  img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }
}

.dg-work-section {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.dg-work-background {
  background-color: $white;
}

.dg-work-infobox {
  background-color: lighten($platinum, 10%);
  border-radius: $border-radius-lg;

  h4 {
    margin-bottom: .25rem;
  }

  .dg-work-infobox-value {
    font-size: $font-size-sm;
    line-height: 1rem;
    padding: .25rem 0;
  }
}

.dg-work-image {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.dg-work-phone-image {
  padding-top: 10rem;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding-top: 5rem;
  }

  img {
    max-width: 50rem;
  }
}



.dg-work-challenge {
  background-color: $oxford-blue;
  color: $platinum;

  h2 {
    color: $white;
  }

  .dg-caps-label {
    color: $saffron;
  }
}

.dg-work-outcome {
  background-color: $silk;

  .lead {
    color: $carmine;
  }
}

// Vow

.dg-work-vow-bg {
  @include vow-bg;
  background-image: url('../images/work/vow/smoke.jpg');

  img {
    height: 5rem;
  }
}

.dg-work-vow-mountains {
  background-image: url('../images/work/vow/mountains.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.dg-work-vow-screenshots {
  height: 57rem;
  background-color: $glitter;
  background-image: url('../images/work/vow/vow-screenshots@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1920px;

  @include media-breakpoint-down(sm) {
    background-size: cover;
    height: 32rem;
  }
}


// Pollpass

.dg-work-pollpass-bg {
  @include pollpass-bg;

  img {
    height: 6rem;
    padding-top: 1rem;
    max-width: none;
  }
}

.dg-work-pollpass-screenshot {
  padding-top: 2rem;
  padding-bottom: 4rem;
}


// Store Boost

.dg-work-storeboost-bg {
  @include storeboost-bg;
  // background-image: url('../images/work/storeboost/storeboost-header@2x.png');
  // background-position: center center;
  // background-size: 1920px;

  img {
    height: 4rem;
  }
}

.dg-work-storeboost {
  background-color: #16122E;
}

.dg-work-storeboost-screenshots {
  height: 48rem;
  background-color: $glitter;
  background-image: url('../images/work/storeboost/storeboost-screenshots@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1920px;

  @include media-breakpoint-down(sm) {
    background-size: cover;
    height: 28rem;
  }
}


// Chroma

.dg-work-chroma-bg {
  @include chroma-bg;

  img {
    height: 3rem;
  }
}

.dg-work-chroma-screenshot {
  background-color: $glitter;
}
