@import "colours";

@import "bootstrap-variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap-tweaks";

$aos-distance: 4rem;
@import "node_modules/aos/src/sass/aos.scss";

@import "shadows";
@import "components";
@import "footer";
@import "navbar";
@import "type";

@import "home";
@import "work";
@import "about";

.strip-spaces {
  font-size: 0;
}

.intermediate {
  font-size: .875rem;
  line-height: 1.25rem
}

b, strong {
  font-weight: $font-weight-bold;
}
