@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,500,600,700&display=swap');

@import "colours";

@import "bootstrap-variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap-tweaks";

@import "components";
@import "navbar";
@import "type";
@import "home";
@import "work";

.strip-spaces {
  font-size: 0;
}

.intermediate {
  font-size: .875rem;
  line-height: 1.25rem
}

b, strong {
  font-weight: $font-weight-bold;
}
